@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

html,
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: rgb(229, 27, 71);
}

body {
    font-size: 14px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 1.5rem;
    padding-top: 1%;
    margin-bottom: 0;
    padding-left: 2%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.main {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.post-box {
    background-color: rgba(255, 255, 255, .5);
    border: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px auto 0px auto;
}

.post-box p {
    padding-left: 2%;
    margin-top: 0;
    padding-bottom: 0;
}

.post-box p#postId {
    display: inline;
    float: right;
    margin-right: 1%;
}

.post-box h1#postHeader {
    display: inline;
}

.start-screen {
    max-width: 800px;
    background-color: rgba(255, 255, 255, .5);
    width: 50%;
    height: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

.post-input {
    max-width: 800px;
    background-color: rgba(255, 255, 255, .5);
    width: 50%;
    height: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    display: none;
}

.post-input textarea {
    font-size: 25px;
    max-width: 500px;
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 3px;
}

.post-input p {
    margin: 0;
    display: inline;
}

.post-title {
    width: 90%;
    float: right;
    margin-right: 1%;
    border-radius: 3px;
    border: none;
}

.post-btn {
    margin-top: 3px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: white;
    width: 100px;
    height: 30px;
    color: red;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    display: none;
}

.post-btn1 {
    margin-top: 3px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: white;
    width: 100px;
    height: 30px;
    color: red;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

#delete-post {
    display: none;
}